<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string></string>
	<key>connections</key>
	<dict>
		<key>A27C006C-6D4A-4606-8ADB-7B07B6A0FCA9</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>0EE06942-74AB-41FF-908C-FFBF35486C5D</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>A89A4365-D0B5-46CE-A7B6-A1640961FC55</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>C79D2345-AEF5-4071-B770-C843BA8BCF93</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>C79D2345-AEF5-4071-B770-C843BA8BCF93</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>EBDBF41A-8F1F-4AB3-A4DD-49A38F7999F6</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>FA518468-89D6-4B36-845A-73865872F078</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>6A616FEE-259D-4EB5-B155-5D8C64455C66</string>
				<key>modifiers</key>
				<integer>1048576</integer>
				<key>modifiersubtext</key>
				<string>推送静态站到origin master</string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>A27C006C-6D4A-4606-8ADB-7B07B6A0FCA9</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>Hao Li</string>
	<key>description</key>
	<string></string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>Mweb-Blog</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>keyword</key>
				<string>mblog</string>
				<key>subtext</key>
				<string>本地浏览MWeb网站</string>
				<key>text</key>
				<string>MWeb 辅助工具</string>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>FA518468-89D6-4B36-845A-73865872F078</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string>#!/bin/bash
DIR="$site_path"
echo "push blog", $DIR
if [ -d "$DIR" ]; then
	cd ${DIR}
	git add -A
	git commit -m "Update"
	git push -u origin master
fi</string>
				<key>scriptargtype</key>
				<integer>0</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>6A616FEE-259D-4EB5-B155-5D8C64455C66</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>browser</key>
				<string></string>
				<key>spaces</key>
				<string></string>
				<key>url</key>
				<string>{query}</string>
				<key>utf8</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.openurl</string>
			<key>uid</key>
			<string>0EE06942-74AB-41FF-908C-FFBF35486C5D</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string>#!/bin/bash
xattr -c $site_path/index.html
echo -n "file://$site_path/index.html"</string>
				<key>scriptargtype</key>
				<integer>0</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>A27C006C-6D4A-4606-8ADB-7B07B6A0FCA9</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>lastpathcomponent</key>
				<false/>
				<key>onlyshowifquerypopulated</key>
				<false/>
				<key>removeextension</key>
				<false/>
				<key>text</key>
				<string>{query}</string>
				<key>title</key>
				<string>已复制到剪切版</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.notification</string>
			<key>uid</key>
			<string>EBDBF41A-8F1F-4AB3-A4DD-49A38F7999F6</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>alfredfiltersresults</key>
				<false/>
				<key>argumenttype</key>
				<integer>1</integer>
				<key>escaping</key>
				<integer>102</integer>
				<key>keyword</key>
				<string>mlist</string>
				<key>queuedelaycustom</key>
				<integer>3</integer>
				<key>queuedelayimmediatelyinitially</key>
				<true/>
				<key>queuedelaymode</key>
				<integer>0</integer>
				<key>queuemode</key>
				<integer>1</integer>
				<key>runningsubtext</key>
				<string>...</string>
				<key>script</key>
				<string>query=$1

site_path="$site_path"

python ListArticle.py "$site_path" "$query"</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>subtext</key>
				<string>使用拼音搜索，选中后复制到剪切版</string>
				<key>title</key>
				<string>MWeb 静态网页文章列表</string>
				<key>type</key>
				<integer>0</integer>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>A89A4365-D0B5-46CE-A7B6-A1640961FC55</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>autopaste</key>
				<false/>
				<key>clipboardtext</key>
				<string>{query}</string>
				<key>transient</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.clipboard</string>
			<key>uid</key>
			<string>C79D2345-AEF5-4071-B770-C843BA8BCF93</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
	</array>
	<key>readme</key>
	<string></string>
	<key>uidata</key>
	<dict>
		<key>0EE06942-74AB-41FF-908C-FFBF35486C5D</key>
		<dict>
			<key>xpos</key>
			<integer>550</integer>
			<key>ypos</key>
			<integer>200</integer>
		</dict>
		<key>6A616FEE-259D-4EB5-B155-5D8C64455C66</key>
		<dict>
			<key>xpos</key>
			<integer>550</integer>
			<key>ypos</key>
			<integer>80</integer>
		</dict>
		<key>A27C006C-6D4A-4606-8ADB-7B07B6A0FCA9</key>
		<dict>
			<key>xpos</key>
			<integer>370</integer>
			<key>ypos</key>
			<integer>200</integer>
		</dict>
		<key>A89A4365-D0B5-46CE-A7B6-A1640961FC55</key>
		<dict>
			<key>xpos</key>
			<integer>190</integer>
			<key>ypos</key>
			<integer>340</integer>
		</dict>
		<key>C79D2345-AEF5-4071-B770-C843BA8BCF93</key>
		<dict>
			<key>xpos</key>
			<integer>370</integer>
			<key>ypos</key>
			<integer>340</integer>
		</dict>
		<key>EBDBF41A-8F1F-4AB3-A4DD-49A38F7999F6</key>
		<dict>
			<key>xpos</key>
			<integer>550</integer>
			<key>ypos</key>
			<integer>340</integer>
		</dict>
		<key>FA518468-89D6-4B36-845A-73865872F078</key>
		<dict>
			<key>xpos</key>
			<integer>180</integer>
			<key>ypos</key>
			<integer>80</integer>
		</dict>
	</dict>
	<key>variables</key>
	<dict>
		<key>site_path</key>
		<string>/Users/hao/blog/MWeb-Blog/Blog</string>
	</dict>
	<key>variablesdontexport</key>
	<array>
		<string>site_path</string>
	</array>
	<key>version</key>
	<string></string>
	<key>webaddress</key>
	<string></string>
</dict>
</plist>
